openapi: 3.0.2
info:
  version: 0.1.0
  title: Spreadconnect fulfillment service REST Articles Authentication API
  contact:
    name: Spreadconnect
    email: business@spreadconnect.app
    url: https://www.spreadshop.com/spreadconnect
  x-logo:
    url: https://assets.spod.com/merea/spreadconnect-logo-black.svg
  description: 'With this API you can create products and place orders in the Spreadconnect system.

    This gives you the opportunity to connect any shop system with Spreadconnect.

    '
  termsOfService: https://faq.spod.com/hc/en-us/articles/360020630280
servers:
- url: https://api.spreadconnect.app
tags:
- name: Authentication
  description: "The Spreadconnect API allows you to connect to the Spreadconnect system and lets you manage your products, submit orders and get \nthem fulfilled via requests.\n\nTo make sure that the requests send to the Spreadconnect API are indeed allowed to fetch and change your data in the Spreadconnect \nsystem, \nthey first need to be authenticated.\nYou can authenticate your requests to the Spreadconnect API by using your **Spreadconnect API Key**.  \n\n**How do I get my Spreadconnect API Key?**\n1. **Login** into your account or register a new one at https://login.spreadconnect.app.\n2. Under **\"Connect Integration\"** create a new Spreadconnect API Integration.\n3. The **Spreadconnect API Key** for this Integration can be found on the **Dashboard** or at the **Integration Settings** \npage. \n\n*For a more detailed explanation visit \nhttps://faq.spod.com/hc/en-us/articles/360020927339-How-do-I-get-started-with-the-API*  \n\nNow you can authenticate your requests by adding *X-SPOD-ACCESS-TOKEN* parameter with your **Spreadconnect API Key** as \nthe value in the header of your request. \n\n*Example:*\n```\n  curl 'https://api.spreadconnect.app/authentication' -H 'X-SPOD-ACCESS-TOKEN: {insert your Spreadconnect API Key}'\n```\n\n**Always keep your Spreadconnect API Key private!**  \nAnyone who has your **Spreadconnect API Key** can access and manipulate your Products, Orders, etc. that are managed by the\nAPI Integration linked to this key.\nSo be careful not to share it.\n"
paths:
  /authentication:
    get:
      operationId: authentication info
      summary: REST API Authentication Info
      description: This resource could be used, to test your authentication and get some basic information about your authentication.
      tags:
      - Authentication
      security:
      - access_token: []
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: 'curl ''https://api.spreadconnect.app/authentication'' \

          -H ''X-SPOD-ACCESS-TOKEN: {insert your SPOD API Key}'''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchantId:
                    type: number
                    description: merchant identifier
                  pointOfSaleId:
                    type: number
                    description: point of sale identifier
                  pointOfSaleName:
                    type: string
                    description: point of sale name
                  pointOfSaleType:
                    type: string
                    description: point of sale type
        '401':
          description: Unauthorized
components:
  securitySchemes:
    access_token:
      type: apiKey
      in: header
      name: X-SPOD-ACCESS-TOKEN
      description: It's necessary to have an authentication token from Spreadconnect. You can generate this token in your Spreadconnect web application. You have to send this token as a header parameter in each request.
