openapi: 3.2.0
info:
  version: 0.1.0
  title: Spreadconnect fulfillment service REST Subscriptions API
  contact:
    name: Spreadconnect
    email: business@spreadconnect.app
    url: https://www.spreadshop.com/spreadconnect
  x-logo:
    url: https://assets.spod.com/merea/spreadconnect-logo-black.svg
  description: 'With this API you can create products and place orders in the Spreadconnect system.

    This gives you the opportunity to connect any shop system with Spreadconnect.'
  termsOfService: https://faq.spod.com/hc/en-us/articles/360020630280
servers:
- url: https://api.spreadconnect.app
tags:
- name: Subscriptions
  description: This api offers you webhook subscriptions that will notify you about changes with your order via a POST request.
paths:
  /subscriptions:
    post:
      operationId: createSubscription
      summary: Create a new subscription
      description: add a new subscription
      tags:
      - Subscriptions
      security:
      - access_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
    get:
      operationId: getSubscriptions
      summary: Get all subscriptions
      description: get all subscriptions
      tags:
      - Subscriptions
      security:
      - access_token: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
  /subscriptions/{subscriptionId}:
    delete:
      operationId: deleteSubscription
      summary: Delete a subscription
      description: delete a subscription
      tags:
      - Subscriptions
      security:
      - access_token: []
      parameters:
      - in: path
        name: subscriptionId
        description: subscription id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
  /orders/{orderId}/simulate/order-cancelled:
    servers:
    - url: https://api.spreadconnect-staging.app
    post:
      operationId: simulateOrderCancelledEvent
      summary: Simulate Order Cancelled Event
      description: Simulates an order cancelled event
      tags:
      - Subscriptions
      security:
      - access_token: []
      requestBody:
        required: false
  /orders/{orderId}/simulate/order-processed:
    servers:
    - url: https://api.spreadconnect-staging.app
    post:
      operationId: simulateOrderProcessedEvent
      summary: Simulate Order Processed Event
      description: Simulates an order processed event
      tags:
      - Subscriptions
      security:
      - access_token: []
      requestBody:
        required: false
  /orders/{orderId}/simulate/shipment-sent:
    servers:
    - url: https://api.spreadconnect-staging.app
    post:
      operationId: simulateShipmentSentEvent
      summary: Simulate Shipment Sent Event
      description: Simulates a shipment sent event
      tags:
      - Subscriptions
      security:
      - access_token: []
      requestBody:
        required: false
components:
  schemas:
    Subscription:
      type: object
      required:
      - eventType
      - endpoint
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        eventType:
          type: string
          enum:
          - Shipment.sent
          - Order.cancelled
          - Order.processed
          - Order.needs-action
          - Article.added
          - Article.updated
          - Article.removed
        url:
          type: string
        secret:
          type: string
  securitySchemes:
    access_token:
      type: apiKey
      in: header
      name: X-SPOD-ACCESS-TOKEN
      description: It's necessary to have an authentication token from Spreadconnect. You can generate this token in your Spreadconnect web application. You have to send this token as a header parameter in each request.
